@media (max-width:375px) {
    .home-banner {
        width: 100%;
        background: url("../img/banner.jpg") no-repeat center;
        background-size: cover;
        padding: 6rem 0 6rem;
    }
    /* style for name */
    .margin {
        margin-top: unset !important;
    }
    .hi {
        font-size: 10pt;
        font-weight: 500;
        color: white;
    }
    .im {
        font-size: 20pt;
        font-weight: 700;
        color: white;
    }
    .im span {
        color: rgba(40, 187, 224, 1);
    }
    .name {
        font-size: 20pt;
        font-weight: 700;
        color: rgba(40, 187, 224, 1);
        letter-spacing: 1px;
    }
    .content h2 {
        font-size: 3em;
        font-weight: 700;
    }
    .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 1px rgba(40, 187, 224, 1);
    }
    .card {
        width: unset !important;
    }
    #education .card-body {
        height: 600px;
    }
}